/* Grid */
.layout {
  /* Set your own grid   */
  display: grid;
  grid-template-columns: (2fr 1fr 1fr);
  grid-template-rows: auto auto;
  row-gap: 10em;
  padding: 5em;

}

/* Widgets */
section {
  background: rgba(211, 211, 211, 0.5);
  padding: 1em;
  
  /* Relative Parent. Absolute Child */
  position: relative;
}
/* Font */
@font-face {
  font-family: DigitalFont;
  src: url(../fonts/digital.ttf);
}

body{
  background-color: gray;

}

/* Time */
.time {
  font-size: 8em;
  border: 5px solid black;
  border-radius: 10px;
  background-color: #101010;
  
  padding: 10px;
  display: flex;
  height: fit-content;
  width: fit-content;
  align-items: center;;
  justify-self: center;
}


.clock-container {
  display: grid;
  border: 1px solid #101010;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.412);
  padding: 10px;
  grid-template-columns: 1fr .5fr 1fr .5fr 1fr;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  font-family: DigitalFont;
  color: rgb(71, 219, 38);
  text-shadow: 0 0 10px rgb(71, 219, 38);
} 




.seperators {
  display: flex;
  justify-content: center;
  align-content: center;
}

.top {
  grid-column: span 2;
  display: flex;
  justify-content: center;
}

.hours {
}

.minutes {
}

.seconds {
}

.amOrPM {
  font-size: medium;
}

/* Date */
.date {
  
}

.month {
}

.dayOfMonth {
}

.year {
}

.dayOfWeek {
}

/* Weather */
.weather {
  
}

.city {
  
}

.temp {
  
}

.weather img {
  
}

/* Smart Mirror */
video { 
  
  /* Position video      */
    position: absolute;
    top: 0;
    left: 0;
    /* Stretch to fill viewport */
    width: 100vw;
    height: 100vh;
    /* stack behind content     */
    z-index: -1;
    /* fill background with video    */
  object-fit: cover;
  object-position: center;
  
}